body {
    font-family: Arial;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 35px;
    margin-bottom: 5px;
}

.column {
    display:flex;
    flex-direction:column;
    flex:50%;
    /*justify-content: none;*/
}

.tooltip{
    position:absolute;
    border: solid #362419;
    padding: 2px;
}